---
import Layout from '../layouts/Layout.astro';
import TestHeader from '../components/TestHeader.astro';
import ProfileForm from '../components/ProfileForm.astro';
---

<Layout title="Crea tu perfil">
  <div class="min-h-screen flex flex-col">
    <TestHeader 
      title="CREA TU PERFIL" 
      subtitle="Incluye al menos una red social" 
    />
    
    
      
      
    </div>
  </div>
</Layout> 