---
import Layout from '../layouts/Layout.astro';
import ThankYou from '../components/ThankYou.astro';
---

<Layout title="¡Gracias por participar!">
  <div class="min-h-screen flex flex-col p-3">
    <ThankYou />
  </div>
</Layout> 